<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Email Template Editor</title>
    <link href="./css/grapes.min.css" rel="stylesheet">
    <script src="./grapes.js"></script>
    <script src="./grapesjs-mjml.js"></script>
    <style>
      body, html{ height: 100%; margin: 0;}

      .gjs-clm-tags {
          display: none;
      }

      .gjs-layer-vis {
          display: none;
      }

      .gjs-am-file-uploader {
          display: none;
      }

      .gjs-am-assets-cont {
          width: 100%;
      }
    </style>
  </head>
  <body>

    <div id="gjs" style="height:0px; overflow:hidden">
        <%- template %>
    </div>


    <script type="text/javascript">
      var context = {
        Listing: {
          name: '16 Victoria Rd Flemington NSW',
          vendors: [
            'Henry',
            'Test',
          ],
        },
      };

      var userContext = <%- userContext %> ;

      var userBlocks = <%- userBlocks %> ;

      function post(endpoint, data, onSuccess, onError) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/" + endpoint, true);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            onSuccess();
          }
        }
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({data : data}));
      }

      function save(code, onSuccess, onError) {
        post("save", code, onSuccess, onError);
      }

      function saveUserContext(userContext, onSuccess, onError) {
        post("saveUserContext", userContext, onSuccess, onError);
      }

      function saveUserBlock(userBlock, onSuccess, onError) {
        post("saveUserBlock", userBlock, onSuccess, onError);
      }

      function deleteUserBlock(name, onSuccess, onError) {
        onSuccess();
      }

      var editor = grapesjs.init({
        height: '100%',
        noticeOnUnload: 0,
        storageManager:{autoload: 0},
        container : '#gjs',
        fromElement: true,

        plugins: ['gjs-mjml'],
        pluginsOpts: {
          'gjs-mjml': {
            context: context,
            save: save,
            userContext: userContext,
            saveUserContext: saveUserContext,
            readOnly: false,
            userBlocks,
            saveUserBlock,
            deleteUserBlock,
          }
        }
      });

      window.editor = editor;
    </script>
  </body>
</html>
