<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Email Template Editor</title>
    <link href="./css/grapes.min.css" rel="stylesheet">
    <script src="./grapes.min.js"></script>
    <script src="./grapesjs-mjml.min.js"></script>
    <style>
      body, html{ height: 100%; margin: 0;}

      .gjs-clm-tags {
          display: none;
      }

      .gjs-layer-vis {
          display: none;
      }

      .gjs-am-file-uploader {
          display: none;
      }

      .gjs-am-assets-cont {
          width: 100%;
      }
    </style>
  </head>
  <body>

    <div id="gjs" style="height:0px; overflow:hidden">
        <%- template %>
    </div>


    <script type="text/javascript">
      var context = {
          "agentName": "Andy Whinehouse",
          "agentEmail": "andy@propic.com.au",
          "agentMobile": "+61 400 000 000",
          "agentFax": "+61 2 0000 0000",
          "agentPhoto": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png",
          "timezone": "Australia/Sydney",
          "officeName": "Bondi",
          "officePhone": "+ 2 0000 0000",
          "officeWebsite": "https://google.com",
          "officeFacebook": "https://facebook.com",
          "officeTwitter": "https://twitter.com",
          "officeInstagram": "https://instagram.com",
          "officeYoutube": "https://youtube.com",
          "officeAddress": "203 Belmore Rd, Randwick",
          "recipient": {
              "firstName": "John",
              "lastName": "Smith",
              "email": "john@smith.co",
              "mobile": "+61 400 000 000",
          },
          "unsubscribeLink": "https://email-editor.clicktocloud.com",
      };

      var userContext = <%- userContext %> ;

      var userBlocks = <%- userBlocks %> ;

      function request(method, endpoint, data, onSuccess, onError) {
        var xhttp = new XMLHttpRequest();
        xhttp.open(method, "/" + endpoint, true);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            onSuccess();
          }
        }
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({data : data}));
      }

      function get(endpoint, data, onSuccess, onError) {
          request("GET", endpoint, data, onSuccess, onError);
      }

      function post(endpoint, data, onSuccess, onError) {
          request("POST", endpoint, data, onSuccess, onError);
      }

      function save(code, onSuccess, onError) {
        post("save", code, onSuccess, onError);
      }

      function saveUserContext(userContext, onSuccess, onError) {
        post("saveUserContext", userContext, onSuccess, onError);
      }

      function saveUserBlock(userBlock, onSuccess, onError) {
        post("saveUserBlock", userBlock, onSuccess, onError);
      }

      function deleteUserBlock(name, onSuccess, onError) {
        post("deleteUserBlock", name, onSuccess, onError);
      }

      function logout(id, onSuccess, onError) {
        get("logout", id, onSuccess, onError);
      }

      var editor = grapesjs.init({
        height: '100%',
        noticeOnUnload: 0,
        storageManager:{autoload: 0},
        container : '#gjs',
        fromElement: true,

        plugins: ['gjs-mjml'],
        pluginsOpts: {
          'gjs-mjml': {
            context: context,
            save: save,
            userContext: userContext,
            saveUserContext: saveUserContext,
            readOnly: <%= readOnly %>,
            userBlocks,
            saveUserBlock,
            deleteUserBlock,
            logout,
          }
        }
      });

      window.editor = editor;
    </script>
  </body>
</html>
